
    <p class="!rvx-text-[18px] rvx-font-nunito rvx-font-semibold rvx-leading-[29px]">
        {{__('There are no reviews yet.', 'reviewx')}}
    </p>
    <p class="!rvx-text-[18px] rvx-font-nunito rvx-font-semibold rvx-leading-[29px]">{{__('Be the first to review ', 'reviewx')}}“<span x-text="reviewAggregationData?.data?.product.title"></span> ”</p>