<div class="rvx-bg-neutral-100 rvx-py-space24 rvx-px-space16 rvx-rounded-md rvx-text-center rvx-mt-space16">
    <p class="!rvx-text-[16px] rvx-font-nunito rvx-font-semibold rvx-leading-[26px]">
        {{__('Only logged in customers who have purchased this product may leave a review', 'reviewx')}}
    </p>
</div>