<div class="rvx-animate-pulse rvx-space-y-4">
    <div class="rvx-flex rvx-items-center rvx-gap-space12  rvx-p-space16 rvx-rounded-md rvx-bg-neutral-100">
        <div class="rvx-w-full rvx-space-y-3">
            <div class="rvx-h-[38px] rvx-rounded rvx-bg-gray-200"></div>
            <div class="rvx-flex rvx-gap-space12">
                <div class="rvx-size-[20px] rvx-rounded-full rvx-bg-gray-200"></div>
                <div class="rvx-size-[20px] rvx-rounded-full rvx-bg-gray-200"></div>
                <div class="rvx-size-[20px] rvx-rounded-full rvx-bg-gray-200"></div>
                <div class="rvx-size-[20px] rvx-rounded-full rvx-bg-gray-200"></div>
                <div class="rvx-size-[20px] rvx-rounded-full rvx-bg-gray-200"></div>
            </div>
            <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
        </div>
        <div class="rvx-w-full rvx-space-y-space16">
            <div class=" rvx-rounded-md">
                <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
            </div>
            <div class=" rvx-rounded-md">
                <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
            </div>
            <div class=" rvx-rounded-md">
                <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
            </div>
            <div class=" rvx-rounded-md">
                <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
            </div>
            <div class=" rvx-rounded-md">
                <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
            </div>
        </div>
    </div>

    <div class="rvx-rounded rvx-bg-neutral-100  rvx-p-space16 rvx-rounded-md rvx-my-space16">
        <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
    </div>

    <div class="rvx-flex rvx-justify-between rvx-gap-space12 rvx-bg-neutral-100 rvx-p-space16 rvx-rounded-md">
        <div class="rvx-space-y-2 rvx-w-full">
            <div class="rvx-h-2 rvx-w-[50px] rvx-rounded rvx-bg-gray-200"></div>
            <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
        </div>
        <div class="rvx-space-y-2 rvx-w-full">
            <div class="rvx-h-2 rvx-w-[50px] rvx-rounded rvx-bg-gray-200"></div>
            <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
        </div>
        <div class="rvx-space-y-2 rvx-w-full">
            <div class="rvx-h-2 rvx-w-[50px] rvx-rounded rvx-bg-gray-200"></div>
            <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200"></div>
        </div>
    </div>

    <div class="rvx-flex rvx-justify-between rvx-items-center rvx-gap-space12 rvx-bg-neutral-100 rvx-p-space16 rvx-rounded-md rvx-my-space16">
        <div class="rvx-flex rvx-gap-space12 rvx-w-full">
            <div class="rvx-h-[30px] rvx-rounded rvx-bg-gray-200 rvx-w-full"></div>
            <div class="rvx-h-[30px] rvx-rounded rvx-bg-gray-200 rvx-w-full"></div>
        </div>
        <div class="rvx-h-2 rvx-rounded rvx-bg-gray-200 rvx-w-full"></div>
    </div>

</div>